{% extends "basic.html" %}

{% block title %}About{% endblock title %}

{% block body %}
<main role="main">

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron" style="background-image: url('https://fraport-conference-center.de/content/dam/conference-center/home/Home_Catering-Fruehstueck.jpg/_jcr_content/renditions/original./Home_Catering-Fruehstueck.jpg');">
      <div class="container">
        <h1 class="display-3">About Us</h1>
        <p>Hello, how are you? This is my website, and on my website, you will find valuable information about Indian food, including Indian food, sweets, and snacks. Along with that, we also provide information about drinks, pizza, and desserts.</p>
        <p><a class="btn btn-primary btn-lg" href="/feedback" role="button">review </a></p>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>Services</h2>
          <p>The services on my website are that we provide information about Indian food, sweets, and snacks that are famous in different cities and states in India. Along with that, we also provide information about various types of drinks, desserts, and Italian pizza. </p>
          <p><a class="btn btn-secondary" href="/drink" role="button">View details »</a></p>
        </div>
        <div class="col-md-4">
          <h2>Work</h2>
          <p>Our job is to provide food names and pictures on our website so that the users who visit our website can see your name and how it appears and get to know which states are famous. This is the idea. </p>
          <p><a class="btn btn-secondary" href="/indian_sweets" role="button">View details »</a></p>
        </div>
        <div class="col-md-4">
          <h2>Information</h2>
          <p>Our website provides you with information on various types of Indian food, sweets, and snacks that are famous in India. You can find information on both vegetarian and non-vegetarian options, as well as details about how drinks and desserts are prepared. Additionally, you'll find special information about Italian pizza.</p>
          <p><a class="btn btn-secondary" href="/pizza" role="button">View details »</a></p>
        </div>
      </div>

    </div> <!-- /container -->

  </main>
  <main>
    <div class="b-example-divider"></div>
  
    <div class="container px-4 py-5" id="hanging-icons">
      <h2 class="pb-2 border-bottom">OUR SERVICES</h2>
      <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
        <div class="col d-flex align-items-start">
          <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
            <svg class="bi" width="1em" height="1em"><use xlink:href="#toggles2"></use></svg>
          </div>
          <div>
            <h2>FOOD</h2>
            <p>Indian food is often described as spicy, rich, flavorful, and diverse. It's made up of a wide
              variety of regional cuisines from different parts of India. Here are some popular Indian dishes.</p>
            <a href="/indian" class="btn btn-primary">
              more
            </a>
          </div>
        </div>
        <div class="col d-flex align-items-start">
          <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
            <svg class="bi" width="1em" height="1em"><use xlink:href="#cpu-fill"></use></svg>
          </div>
          <div>
            <h2>DRINK</h2>
            <p>A mocktail is a broad term for a non-alcoholic drink, usually a mixture of different
              fruit juices, alcohol-free alternatives and fizzy drinks.</p>
            <a href="/drink" class="btn btn-primary">
              more
            </a>
          </div>
        </div>
        <div class="col d-flex align-items-start">
          <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
            <svg class="bi" width="1em" height="1em"><use xlink:href="#tools"></use></svg>
          </div>
          <div>
            <h2>DESSERT</h2>
            <p>Dessert is a course that concludes a meal. The course consists of sweet foods, such as
              candy, and possibly a beverage such as dessert wine and liqueur</p>
            <a href="/dessert" class="btn btn-primary">
              more
            </a>
          </div>
        </div>
      </div>
    </div>
  
    <div class="b-example-divider"></div>
  
    <div class="container px-4 py-5" id="custom-cards">
      <h2 class="pb-2 border-bottom">HEALTHY FOOD</h2>
  
      <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">
        <div class="col">
          <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg" style="background-image: url('https://img.freepik.com/free-photo/grapes-strawberries-pineapple-kiwi-apricot-banana-whole-pineapple_23-2147968680.jpg?w=900&t=st=1700552799~exp=1700553399~hmac=132ba5fdecf00e9509558142ce249200f12ee4180e9c1118e5044f4b168264a3');">
            <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
              <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">You are what you eat. Eat fruit.</h2>
              <ul class="d-flex list-unstyled mt-auto">
                <li class="me-auto">
                  <img src="https://img.myloview.com/murals/fresh-fruits-icon-outline-fresh-fruits-vector-icon-for-web-design-isolated-on-white-background-700-228338954.jpg" alt="Bootstrap" width="32" height="32" class="rounded-circle border border-white">
                </li>
                <li class="d-flex align-items-center me-3">
                  <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#geo-fill"></use></svg>
                  <small>Fruits</small>
                </li>
                <li class="d-flex align-items-center">
                  <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#calendar3"></use></svg>
                  <small>3d</small>
                </li>
              </ul>
            </div>
          </div>
        </div>
  
        <div class="col">
          <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg" style="background-image: url('https://img.freepik.com/free-photo/front-view-vegetable_140725-103355.jpg?w=996&t=st=1700552873~exp=1700553473~hmac=a2cbbcd5552e1e9caf971c282ba19c67cfe3789d130bf14b4de3bbd8d904f91d');">
            <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
              <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Keep calm and eat more veggies.</h2>
              <ul class="d-flex list-unstyled mt-auto">
                <li class="me-auto">
                  <img src="https://png.pngtree.com/png-vector/20190701/ourmid/pngtree-vegetables-icon-for-your-project-png-image_1532868.jpg" alt="Bootstrap" width="32" height="32" class="rounded-circle border border-white">
                </li>
                <li class="d-flex align-items-center me-3">
                  <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#geo-fill"></use></svg>
                  <small>Vegetables</small>
                </li>
                <li class="d-flex align-items-center">
                  <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#calendar3"></use></svg>
                  <small>4d</small>
                </li>
              </ul>
            </div>
          </div>
        </div>
  
        <div class="col">
          <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg" style="background-image: url('https://img.freepik.com/free-photo/surface-fresh-water-with-splashes_23-2147608340.jpg?w=996&t=st=1700552961~exp=1700553561~hmac=1e9d60735374408f240a742acb832e74081cf214333bc6689daf5822a290a601');">
            <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
              <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">In time and with water, everything changes.</h2>
              <ul class="d-flex list-unstyled mt-auto">
                <li class="me-auto">
                  <img src="https://www.kindpng.com/picc/m/156-1563271_drink-water-water-icon-png-transparent-png.png" alt="Bootstrap" width="32" height="32" class="rounded-circle border border-white">
                </li>
                <li class="d-flex align-items-center me-3">
                  <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#geo-fill"></use></svg>
                  <small>Water</small>
                </li>
                <li class="d-flex align-items-center">
                  <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#calendar3"></use></svg>
                  <small>5d</small>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
{% endblock body %}