{% extends "basic.html" %}

{% block title %}dessert{% endblock title %}

{% block body %}
<!DOCTYPE html>
<html>

<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }

        header {
            background-color: #333;
            color: #fff;
            padding: 20px;
            text-align: center;
        }

        h1 {
            margin: 0;
        }

        main {
            margin: 20px;
        }

        section {
            margin-bottom: 40px;
        }

        h2 {
            margin: 0;
        }

        p {
            margin-top: 10px;
            line-height: 1.4;
        }

        img {
            display: block;
            margin-top: 20px;
            max-width: 100%;
            height: auto;
        }
    </style>
</head>

<body>
    <header>
        <h1>Dessert</h1>
    </header>
    <main>
        <section>
            </div>
            <center>
                <b>
                    <h2>Cake</h2>
                </b>
            </center>
            <div>
                <p><center>
                    A cake is a type of (usually) sweet dessert which is baked. Originally, it was a bread-like food, but no longer. Cakes are often made to celebrate special occasions like birthdays or weddings. There are many kinds of cakes.
                </p></center>
            </div>
            <div style="display: flex;justify-content: space-evenly;">

                <img style="width: 29.5vw;"src="https://images.pexels.com/photos/5426097/pexels-photo-5426097.jpeg?auto=compress&cs=tinysrgb&w=500"
                    alt="Cake Image">
                <img style="width: 29.5vw;"src="https://images.pexels.com/photos/1721934/pexels-photo-1721934.jpeg?auto=compress&cs=tinysrgb&w=500"
                    alt="Cake Image">
                <img style="width: 29.5vw;"src="https://images.pexels.com/photos/934729/pexels-photo-934729.jpeg?auto=compress&cs=tinysrgb&w=500"
                    alt="Cake Image">

            </div>
        </section>

        <section>
            <center>
                <b>
                    <h2>Waffles </h2>
                </b>
            </center>
            <div>
                <p><center>
                    All you need to make our crispy waffles are ingredients you likely already have in your kitchen: all-purpose flour, sugar, baking powder, butter, milk, and eggs. Combine the dry ingredients in one bowl, the wet ingredients in another, then add the wet to the dry and mix together—that's it!

                </p></center>
            </div>
            <div style="display: flex;justify-content: space-evenly;">
                <img style="width: 29.5vw;"src="https://images.unsplash.com/photo-1558584724-0e4d32ca55a4?auto=format&fit=crop&q=60&w=500&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8d2FmZmxlfGVufDB8fDB8fHww"alt="Waffles  Image">
                <img style="width: 29.5vw;"src="https://images.unsplash.com/photo-1542692422-5cb6fc2cf737?auto=format&fit=crop&q=60&w=500&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Nnx8d2FmZmxlfGVufDB8fDB8fHww"alt="Waffles  Image">
                <img style="width: 29.5vw;"src="https://images.unsplash.com/photo-1576615278693-f8e095e37e01?auto=format&fit=crop&q=60&w=500&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTJ8fHdhZmZsZXxlbnwwfHwwfHx8MA%3D%3D"alt="Waffles  Image">

        </section>

        <section>
            <center>
                <b>
                    <h2>dessert</h2>
                </b>
            </center>
            <p><center>

                Ramen is a popular Japanese noodle dish known for its flavorful broth and wheat noodles. It is often
                topped with slices of pork, marinated soft-boiled eggs, green onions, and other ingredients. Ramen
                variations can be found throughout Japan, each with its own regional specialties.
            </p></center>
            <div style="display: flex; justify-content: space-evenly;">
                <img style="width: 29.5vw;"src="https://images.pexels.com/photos/5913315/pexels-photo-5913315.jpeg?auto=compress&cs=tinysrgb&w=500"
                    alt="dessert Image">
                <img style="width: 29.5vw;"src="https://images.pexels.com/photos/3780469/pexels-photo-3780469.jpeg?auto=compress&cs=tinysrgb&w=500&h=750&dpr=1"alt="dessert Image">
                <img style="width: 29.5vw;"src="https://images.pexels.com/photos/10414167/pexels-photo-10414167.jpeg?auto=compress&cs=tinysrgb&w=500"
                    alt="dessert Image">
            </div>
        </section>

        <section>
            <center>
                <b>

                    <h2>Chocolate</h2>
                </b>
            </center>
            <p><center>
                Chocolate is made from cocoa beans, the dried and fermented seeds of the cacao tree (Theobroma cacao), a
                small, 4–8 m tall (15–26 ft tall) evergreen tree native to the deep tropical region of the Americas.

            </p></center>
            <div style="display: flex; justify-content: space-evenly;">
                <img style="width: 29.5vw;"src="https://images.pexels.com/photos/4791265/pexels-photo-4791265.jpeg?auto=compress&cs=tinysrgb&w=500" alt="Chocolate Image">
                <img style="width: 29.5vw;"src="https://images.pexels.com/photos/12395279/pexels-photo-12395279.jpeg?auto=compress&cs=tinysrgb&w=500" alt="Chocolate Image">
                <img style="width: 29.5vw;"src="https://images.pexels.com/photos/4791299/pexels-photo-4791299.jpeg?auto=compress&cs=tinysrgb&w=500" alt="Chocolate Image">
            </div>
        </section>

        <section>
            <center>
                <b>

                    <h2>Ice Cream</h2>
                </b>
            </center>
            <p><center>
                ice cream, frozen dairy food made from cream or butterfat, milk, sugar, and flavourings. Frozen custard and French-type ice creams also contain eggs. Hundreds of flavours have been devised, the most popular being vanilla, chocolate, and strawberry. Iced desserts were introduced into Europe from the East.

            </p></center>
            <div style="display: flex; justify-content: space-evenly;">
                <img style="width: 29.5vw;"src="https://images.unsplash.com/photo-1586769412527-ab0855979b2e?auto=format&fit=crop&q=60&w=500&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8N3x8aWNlY3JlYW18ZW58MHx8MHx8fDA%3D" alt="Ice Cream Image">
                <img style="width: 29.5vw;"src="https://images.unsplash.com/photo-1628585352636-f4a24c2e17d5?auto=format&fit=crop&q=60&w=500&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTZ8fGljZWNyZWFtfGVufDB8fDB8fHww" alt="Ice Cream Image">
                <img style="width: 29.5vw;"src="https://images.unsplash.com/photo-1627222295124-f8b3fc09e47f?auto=format&fit=crop&q=60&w=500&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTJ8fGljZWNyZWFtfGVufDB8fDB8fHww" alt="Ice Cream Image">
            </div>
        </section>


        <section>
            <center>
                <b>

                    <h2>Brownie</h2>
                </b>
            </center>
            <p><center>
                Brownies are chocolaty baked products made in square or rectangle shapes. They are commonly consumed around the world and are made with flour, fat (oil or butter), sugar, eggs and chocolate (molten or cocoa powder).
            </p></center>
            <div style="display: flex; justify-content: space-evenly;">
                <img style="width: 29.5vw;"src="https://images.unsplash.com/photo-1589113705076-ff28f41a2b8b?auto=format&fit=crop&q=60&w=500&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MjB8fGJyb3duaWV8ZW58MHx8MHx8fDA%3D" alt="Brownie Image">
                <img style="width: 29.5vw;"src="https://images.unsplash.com/photo-1606884285898-277317a7bf12?auto=format&fit=crop&q=60&w=500&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTB8fGJyb3duaWV8ZW58MHx8MHx8fDA%3D" alt="Brownie Image">
                <img style="width: 29.5vw;"src="https://images.unsplash.com/photo-1606313564200-e75d5e30476c?auto=format&fit=crop&q=60&w=500&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8YnJvd25pZXxlbnwwfHwwfHx8MA%3D%3D" alt="Brownie Image">
            </div>
        </section>
        
    </main>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>

</html>

{% endblock body %}
