{% extends "basic.html" %}

{% block title %}Drink{% endblock title %}

{% block body %}
<!DOCTYPE html>
<html>

<head>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }

        header {
            background-color: #333;
            color: #fff;
            padding: 20px;
            text-align: center;
        }

        h1 {
            margin: 0;
        }

        main {
            margin: 20px;
        }

        section {
            margin-bottom: 40px;
        }

        h2 {
            margin: 0;
        }

        p {
            margin-top: 10px;
            line-height: 1.4;
        }

        img {
            display: block;
            margin-top: 20px;
            max-width: 100%;
            height: auto;
        }
    </style>
</head>

<body>
    <header>
        <h1>Drink</h1>
    </header>
    <main>
        <section>
            <center>
                <b>
                    <h2>Coffee</h2>
                </b>
            <div>
                <p>
                    Hu said that moderate coffee intake—about 2–5 cups a day—is linked to a lower likelihood of type 2 diabetes, heart disease, liver and endometrial cancers, Parkinson's disease, and depression. It's even possible that people who drink coffee can reduce their risk of early death.
                </p>
            </center>
            </div>
            <div style="display: flex;justify-content: space-evenly;">

                <img style="width: 29.5vw;"src="https://images.unsplash.com/photo-1509042239860-f550ce710b93?auto=format&fit=crop&q=60&w=500&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxleHBsb3JlLWZlZWR8MXx8fGVufDB8fHx8fA%3D%3D"alt="Coffee Image">
                <img style="width: 29.5vw;"src="https://images.unsplash.com/photo-1610632380989-680fe40816c6?auto=format&fit=crop&q=60&w=500&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxleHBsb3JlLWZlZWR8MTZ8fHxlbnwwfHx8fHw%3D"alt="Coffee Image">
                <img style="width: 29.5vw;"src="https://images.unsplash.com/photo-1561478908-d067fe75a553?auto=format&fit=crop&q=60&w=500&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxleHBsb3JlLWZlZWR8ODB8fHxlbnwwfHx8fHw%3D"alt="Coffee Image">

            </div>
        </section>

        <section>
            <center>
                <b>
                    <h2>Tea</h2>
                </b>
            <div>
                <p>

                    Observational research has found that tea consumption of 2-3 cups daily is associated with a reduced risk of premature death, heart disease, stroke, and type 2 diabetes. [2] However, there may be an increased risk of esophageal and stomach cancers from drinking tea that is too hot (more than 131-140° F [55-60° C]).
                </p>
            </center>
            </div>
            <div style="display: flex;justify-content: space-evenly;">
                <img style="width: 29.5vw;"src="https://plus.unsplash.com/premium_photo-1680172801020-8916492bc44d?auto=format&fit=crop&q=60&w=500&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTMzfHxtaWxrJTIwdGVhfGVufDB8fDB8fHww"alt="Tea Image">
                <img style="width: 29.5vw;"src="https://images.unsplash.com/photo-1630748662359-40a2105640c7?auto=format&fit=crop&q=60&w=500&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OHx8Y2hhaXxlbnwwfHwwfHx8MA%3D%3D"alt="Tea Image">
                <img style="width: 29.5vw;"src="https://images.unsplash.com/photo-1611312410928-bdcb480e6239?auto=format&fit=crop&q=60&w=500&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8Y2hhaXxlbnwwfHwwfHx8MA%3D%3D"alt="Tea Image">

        </section>

        <section>
            <center>
                <b>
                    <h2>Milk Shake</h2>
                </b>
            <p>
                Yes, nutritious! Milkshakes are made of milk which instantly makes them healthy. Oftentimes, people associate milkshakes with junk food, but that is not the case. After drinking milkshakes, do you notice how full you feel even without eating anything?
            </p>
        </center>
            <div style="display: flex; justify-content: space-evenly;">
                <img style="width: 29.5vw;"src="https://images.unsplash.com/photo-1600718374662-0483d2b9da44?auto=format&fit=crop&q=60&w=500&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTZ8fG1pbGtzaGFrZXxlbnwwfHwwfHx8MA%3D%3D"alt="Milk Shake Image">
                <img style="width: 29.5vw;"src="https://images.unsplash.com/photo-1594488506255-a8bbfdeedbaf?auto=format&fit=crop&q=60&w=500&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OHx8bWlsa3NoYWtlfGVufDB8fDB8fHww"alt="Milk Shake Image">
                <img style="width: 29.5vw;"src="https://images.unsplash.com/photo-1577805947697-89e18249d767?auto=format&fit=crop&q=60&w=500&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8bWlsa3NoYWtlfGVufDB8fDB8fHww"alt="Milk Shake Image">
            </div>
        </section>

        <section>
            <center>
                <b>
                    <h2>Soft Drink</h2>
                </b>
            <p>

                3. Ingredients. Soft drinks typically contain water, sweetener (8 12%, w/v), carbon dioxide (0.3 0.6% w/v), acidulants (0.05 0.3% w/v), flavorings (0.1 0.5% w/v), colorings (0 70 ppm), chemical preservatives (lawful limits), antioxidants.
             </p>
            </center>
            <div style="display: flex; justify-content: space-evenly;">
                <img style="width: 29.5vw;"src="https://images.unsplash.com/photo-1628403463406-2ad8b33ee091?auto=format&fit=crop&q=60&w=500&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTR8fGNvbGQlMjBkcmlua3xlbnwwfHwwfHx8MA%3D%3D" alt="Soft Drink Image">
                <img style="width: 29.5vw;"src="https://images.unsplash.com/photo-1536972990510-2ecb9d60ac4e?auto=format&fit=crop&q=60&w=500&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MzB8fGNvbGQlMjBkcmlua3xlbnwwfHwwfHx8MA%3D%3D" alt="Soft Drink Image">
                <img style="width: 29.5vw;"src="https://images.unsplash.com/photo-1556679343-c7306c1976bc?auto=format&fit=crop&q=60&w=500&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTk1fHxjb2xkJTIwZHJpbmt8ZW58MHx8MHx8fDA%3D" alt="Soft Drink Image">
            </div>
        </section>

        <section>
            <center>
                <b>
                    <h2>Chocolate Drink</h2>
                </b>
            <p>
                Chocolate milk is generally made by mixing cow's milk with cocoa and sweeteners like sugar or high-fructose corn syrup. It's richer in carbs and calories than unsweetened milk but otherwise contains similar levels of nutrients.
            </p>
            </center>
            <div style="display: flex; justify-content: space-evenly;">
                <img style="width: 29.5vw;"src="https://plus.unsplash.com/premium_photo-1663853293754-aec2a19c0a17?auto=format&fit=crop&q=60&w=500&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MjF8fGNob2NvbGF0ZSUyMGRyaW5rfGVufDB8fDB8fHww" alt="Chocolate Drink Image">
                <img style="width: 29.5vw;"src="https://images.unsplash.com/photo-1542990253-0d0f5be5f0ed?auto=format&fit=crop&q=60&w=500&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MzJ8fGNob2NvbGF0ZSUyMGRyaW5rfGVufDB8fDB8fHww" alt="Chocolate Drink Image">
                <img style="width: 29.5vw;"src="https://plus.unsplash.com/premium_photo-1695750678195-beb8ba487094?auto=format&fit=crop&q=60&w=500&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NTN8fGNob2NvbGF0ZSUyMGRyaW5rfGVufDB8fDB8fHww" alt="Chocolate Drink Image">
            </div>
        </section>

        <section>
            <center>
                <b>
                    <h2>Mocktail</h2>
                </b>
            <p>
                Mocktails are non-alcoholic mixed drinks meant to replicate the presentation and complexity of craft cocktails, just without the alcohol. To make mocktails, bartenders mix combinations of sodas, juices, herbs, and syrups to create unique flavors.

            </p>
            </center>
            <div style="display: flex; justify-content: space-evenly;">
                <img style="width: 29.5vw;"src="https://images.unsplash.com/photo-1516684163977-84cc7de8c7c8?auto=format&fit=crop&q=60&w=500&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NDR8fG1vY2t0YWlsfGVufDB8fDB8fHww" alt="Mocktail Image">
                <img style="width: 29.5vw;"src="https://plus.unsplash.com/premium_photo-1687354256687-b5ee47c043c1?auto=format&fit=crop&q=60&w=500&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OTN8fG1vY2t0YWlsfGVufDB8fDB8fHww" alt="Mocktail Image">
                <img style="width: 29.5vw;"src="https://images.unsplash.com/photo-1661942477265-c6e3fbebb714?auto=format&fit=crop&q=60&w=500&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTAzfHxtb2NrdGFpbHxlbnwwfHwwfHx8MA%3D%3D" alt="Mocktail Image">
            </div>
        </section>

        <section>
            <center>
                <b>
                    <h2>Fruit Juice</h2>
                </b>
            <p>
                Fruit juice is 100% pure juice made from the flesh of fresh fruit or from whole fruit, depending on the type used. It is not permitted to add sugars, sweeteners, preservatives, flavourings or colourings to fruit juice.


            </p>
            </center>
            <div style="display: flex; justify-content: space-evenly;">
                <img style="width: 29.5vw;"src="https://plus.unsplash.com/premium_photo-1663091544172-794c537af00c?auto=format&fit=crop&q=60&w=500&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OXx8ZnJ1aXQlMjBqdWljZXxlbnwwfHwwfHx8MA%3D%3D" alt="Fruit Juice Image">
                <img style="width: 29.5vw;"src="https://plus.unsplash.com/premium_photo-1676642612947-a518c0a4c99d?auto=format&fit=crop&q=60&w=500&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MjA3fHxmcnVpdHxlbnwwfHwwfHx8MA%3D%3D" alt="Fruit Juice Image">
                <img style="width: 29.5vw;"src="https://images.unsplash.com/photo-1541591425126-4e6dcf84b386?auto=format&fit=crop&q=60&w=500&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTk2fHxmcnVpdCUyMGp1aWNlfGVufDB8fDB8fHww" alt="Fruit Juice Image">
            </div>
        </section>
    </main>
</body>

</html>
{% endblock body %}